.custom-form .ant-form-item {
  margin-bottom: 8px !important;
  .input-form {
    margin: 0;
    padding: 0;
    &-textarea {
      textarea {
        height: 100%;
        resize: none;
      }
    }
    input {
      padding: 4px 11px;
      border-radius: 6px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
  .ant-input-suffix {
    &:active {
      border-radius: 6px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      // background: #e8f0fe;
      margin: 0;
    }
  }
}
